<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop clothes</title>
  </head>
  <body>
    {% block navbar %}
    <nav>
      <li><a href="/">Home</a></li>
      <ul>
        <li><a href="/clothes">Одежда</a></li>
        <li><a href="/clothes">Обувь</a></li>
        <li><a href="/clothes">Куртки</a></li>
      </ul>
    </nav>
    {% endblock %}
    <main>{% block content %}{% endblock %}</main>
    <footer>
      <p>2024 Интернет-магазин одежды.</p>
    </footer>
  </body>
</html>
